*{
  box-sizing: border-box;
  padding: 0 ;
  margin: 0;
  text-align: center;
}

#root {
  max-width: 100%;
}
.body{
  height: 100vh;
  background-color: aqua;
}

.btnCount{
  background-color: black;
  color: white;
}
.title{
  background-color: grey;
  height: 400px;
  margin: 0;
}

.footer{
  background-color: aqua;
}